.toc a {
    color: #000 !important; // 強制黑色
    display: block;
    margin-bottom: 5px;
    text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.content h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 80px;
}

pre {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}