.card {
  min-height: 200px; // 卡片高度大一些
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s;
}

.c-card-hover {
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);

  &:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    background-color: #f8f9fa;
  }
}



.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

ul {
  padding-left: 0;
}

li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
