@use "color-functions";
@use "variables";
@use "@coreui/coreui/scss/coreui" as coreui;
@use "@coreui/chartjs/scss/coreui-chartjs" as chartjs;
@use "theme";
@use "custom";
@use "detailed-guide";
@use "examples";
